<!--  BEGIN CONTENT AREA  -->
    <div class="container">
        <div class="container">

            <!-- BREADCRUMB -->
            <div class="page-meta">
                <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">User Interface</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Maps</li>
                    </ol>
                </nav>
            </div>
            <!-- /BREADCRUMB -->

            <div id="navSection" data-bs-spy="affix" class="nav sidenav">
                <div class="sidenav-content">
                    <a href="#mapBasic" class="active nav-link">Basic</a>
                    <a href="#mapPanes" class="nav-link">Panes</a>
                    <a href="#mapInteractive" class="nav-link">Interactive Choropleth</a>
                </div>
            </div>
        
            <div class="row">
                <div id="mapBasic" class="col-lg-12 layout-top-spacing layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Basic</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div id="basic-map" class="leaflet-map" style="height: 400px"></div>

                            <div class="code-section-container show-code">
                                        
                                <button class="btn toggle-code-snippet"><span>Code</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down toggle-code-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></button>

                                <div class="code-section text-left">
                                        <pre>
</pre>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
